body {
  font-family: Arial, Helvetica, sans-serif;
} /*Lettertype van het dropdownmenu*/

.navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
} /*Kleur van de blokken in de menubalk*/

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} /*Opmaak van de blokken in de menubalk*/

.dropdown {
  float: left;
  overflow: hidden;
} /*Positie van de blokken in het dropdownmenu*/

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
} /*Opmaak tekst menubalk in dropdopwnblok*/

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: green;
} /*Kleur bij hoveren menubalk*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5c5c5c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} /*Opmaak blokken dropdownmenu*/

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
} /*Opmaak tekst dropdownmenu*/

.dropdown-content a:hover {
  color:black;
  background-color: rgb(160, 160, 160);
} /*Kleur bij hoveren dropdownmenu*/

.dropdown:hover .dropdown-content {
  display: block;
}

/*Opmaak van de stijlen*/
h1 {
  font-family: monospace;
  font-size: 40px;
  padding: 0px 45px;
}

h2 {
  font-family: monospace;
  font-size: 26px;
  padding: 0px 45px;
  margin-bottom: 0px;
}

p {
  font-family: monospace;
  font-size: 16px;
  padding: 0px 45px;
  margin-top: 0px;
}